{
    "env": { 
        "es6": true 
    },
    "rules": {
        "indent": ["error", 4],
        "no-var": "error",
        "semi": [2, "never"],
        "quotes": ["error", "single"],
        "keyword-spacing": ["error", { "before": true, "after": true }],
        "no-trailing-spaces": "error",
        "space-in-parens": ["error", "never"],
        "object-curly-spacing": ["error", "never"],
        "array-bracket-spacing": ["error", "never"],
        "template-curly-spacing": ["error", "never"],
        "prefer-arrow-callback": "error"
    }
}